body {
  background-color: cornsilk;
}

.text p {
  max-width: 750px;
  min-width: 600px;
}

.background p {
  max-width: 950px;
  min-width: 600px;
}

p {
  color: darkblue;
  font-size: 16px;
}

h1 {
  min-width: 850px;
  color: maroon;
}

textarea {
  color: black;
  background-color: floralwhite;
}
